nav .dropdown-item {
    color: rgba(255, 255, 255, .5);
}
nav .dropdown-menu a:hover {
    color: rgba(255, 255, 255, .75);
    background-color: #6c757d;
}
nav .dropdown-menu a:active {
    color: rgba(255, 255, 255);
}