/* NavBar
------------------------------------------*/
nav .dropdown-item {
    color: rgba(255, 255, 255, .5);
}

nav .dropdown-menu a:hover {
    color: rgba(255, 255, 255, .75);
    background-color: #6c757d;
}
nav .dropdown-menu a:active {
    color: rgba(255, 255, 255);
}
nav .dropdown-menu .active {
    background-color: inherit;
}

/* Carousel
------------------------------------------*/
.carousel img {
    height: calc(50vh + 5vw);
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, .8);
    font-weight: 500;
    width: 60vw;
    max-width: 500px;
}
.carousel-caption:hover,
.carousel-caption:focus {
    background-color: rgba(230, 230, 230, .85);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 35%;
}

/* Receipt browser
------------------------------------------*/
@media (min-width: 400px) and (max-width: 1199px) {
    .receipt-browser-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.receipt-browser-results {
    overflow-y: scroll;
    max-height: 60vh;
}

.receipt-browser-results li:hover {
    background-color: rgba(230, 230, 230, .85);
}

/* Media objects horizontal
------------------------------------------*/
@media (max-width: 575px) {
    .narrow-gutters-xs {
        margin-right: -5px;
        margin-left: -5px;
    }
      
    .narrow-gutters-xs > .col,
    .narrow-gutters-xs > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 444px) {
    .narrow-gutters-xs .d-none {
        display: block!important;
    }
    .narrow-gutters-xs img {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .narrow-gutters-xs .media-body {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .narrow-gutters-xs .media-body h5 {
        display: none!important;
    }
    .narrow-gutters-xs .media-body p {
        font-size: 0.95em!important;
    }
}

/* Text
------------------------------------------*/
article section {
    max-width: 680px;
    margin: 2.5em auto;
    font-size: 1.1rem;
    line-height: 1.7;
}

/* Social media buttons
------------------------------------------*/
.social-media {
    height: 2.5rem;
}

.social-media svg {
    fill: white;
}

.facebook {
    background-color: #3b5998;
}
.facebook:hover {
    background-color: #5278c9;
}

.instagram {
    background-color: #C13584;
}
.instagram:hover {
    background-color: #E1306C;
}


/* Footer
------------------------------------------*/
.bg-gray {
    background-color: rgba(230, 230, 230);
}

footer form {
    max-width: 600px;
}

@media (max-width: 500px) {
    .mc-field-group {
        width: 70%!important;
    }
}
@media (max-width: 400px) {
    .input-container {
        display: block!important;
    }
}