/* NavBar
------------------------------------------*/
nav .dropdown-item {
    color: rgba(255, 255, 255, .5);
}

nav .dropdown-menu a:hover {
    color: rgba(255, 255, 255, .75);
    background-color: #6c757d;
}
nav .dropdown-menu a:active {
    color: rgba(255, 255, 255);
}

/* Carousel
------------------------------------------*/
.carousel img {
    height: calc(50vh + 5vw);
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, .8);
    font-weight: 500;
    width: 60vw;
    max-width: 500px;
}
.carousel-caption:hover,
.carousel-caption:focus {
    background-color: rgba(230, 230, 230, .85);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 35%;
}

/* Receipt browser
------------------------------------------*/
@media (min-width: 400px) and (max-width: 1199px) {
    .receipt-browser-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.receipt-browser-results {
    overflow-y: scroll;
    max-height: 60vh;
}

.receipt-browser-results li:hover {
    background-color: rgba(230, 230, 230, .85);
}